<section id="table-section">
    <table>
        <tr>
            <th style="width: 8%; border-right: 1px solid rgba(0, 0, 0, 0.2);">Qty.</th>
            <th style="width: 8%; border-right: 1px solid rgba(0, 0, 0, 0.2);">Unit</th>
            <th style="width: 23%; border-right: 1px solid rgba(0, 0, 0, 0.2);">Product Brand</th>
            <th style="width: 35%; border-right: 1px solid rgba(0, 0, 0, 0.2);">Product Name</th>
            <th style="border-right: 1px solid rgba(0, 0, 0, 0.2);">Unit Price</th>
            <th>Total Price</th>
        </tr>
        @for (product of cashierservice.cart(); track $index) {
            <tr (click)="selectCartItem(product)">
                <td style="text-align: center;">{{ product.qty }}</td>
                <td style="text-align: center;">{{ product.unit }}</td>
                <td style="padding-left: 10px;">{{ product.brand }}</td>
                <td style="padding-left: 10px;">{{ product.name }}</td>
                <td style="text-align: center;">{{ product.price }}</td>
                <td id="totalcost" style="text-align: center;">{{ product.totalprice }}</td>
            </tr>        
        }
    </table>
</section>

<section id="lower-section">
    <p id="time">{{ time() | date:'hh:mm a'}}</p>
    <div id="transc-id-container">
        <p>Transaction ID :</p>
        <p style="font-size: 50px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; opacity: 70%;">{{ cashierservice.transactionId() }}</p>
    </div>
    <div id="total">
        <div id="total-label">
            <p>Subtotal</p>
            <div id="vat" style="display: flex; align-items: center;">
                <input type="checkbox" style="margin-top: 3.5px; margin-right: 5px;" #vat (change)="toggleVat(vat)" [checked]="cashierservice.checkedVat()">
                <p>VAT</p>
            </div>
            <p>Discount</p>
            <p style="font-size: 20px; margin-top: -5px;">Total Amount</p>
        </div>
        <div id="total-value">
            <p>₱ {{ cashierservice.subtotal() | number:'1.2-2' }}</p>
            <p>₱ {{ cashierservice.vat() | number:'1.2-2' }}</p>
            <p>₱ {{ cashierservice.discount() | number:'1.2-2' }}</p>
            <p style="font-size: 20px; margin-top: -5px;">₱ {{ cashierservice.totalAmount() | number:'1.2-2' }}</p>
        </div>
    </div>
</section>

@if (updatingItem()) {
    <div id="item-backdrop">
        <div id="item-modal">
            <h3>Quantity</h3>
            <input #newqty type="text" [value]="selectedItem.qty" autofocus onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            <div class="box-container">
                <input type="checkbox" class="txtbox" #wholesale [checked]="checkedWholesale()">
                <p style="margin-top: -3px; margin-left: 10px;">Wholesale Price</p>
            </div>
            <button style="margin-right: 12px; background-color: green;" (click)="updateItem(newqty, wholesale.checked)">O</button>
            <button style="background-color: red;" (click)="updatingItem.set(false)">✕</button>
        </div>
    </div>
}