<section id="table-section">
    <table>
        <tr>
            <th style="width: 8%; border-right: 1px solid rgba(0, 0, 0, 0.2);">Qty.</th>
            <th style="width: 8%; border-right: 1px solid rgba(0, 0, 0, 0.2);">Unit</th>
            <th style="width: 23%; border-right: 1px solid rgba(0, 0, 0, 0.2);">Product Brand</th>
            <th style="width: 35%; border-right: 1px solid rgba(0, 0, 0, 0.2);">Product Name</th>
            <th style="border-right: 1px solid rgba(0, 0, 0, 0.2);">Unit Price</th>
            <th>Total Price</th>
        </tr>
        @for (product of cashierservice.cart(); track $index) {
            <tr (click)="selectCartItem(product)">
                <td style="text-align: center;">{{ product.qty }}</td>
                <td style="text-align: center;">{{ product.unit }}</td>
                <td style="padding-left: 10px;">{{ product.brand }}</td>
                <td style="padding-left: 10px;">{{ product.name }}</td>
                <td style="text-align: center;">@if(product.qty >= 5){{{ product.wholesalePrice }}}@else{{{ product.retailPrice}}}</td>
                <td id="totalcost" style="text-align: center;">@if(product.qty >= 5){{{ product.wholesalePrice * product.qty }}}@else{{{ product.retailPrice * product.qty }}}</td>
            </tr>        
        }
    </table>
</section>

<section id="lower-section">
    <p id="time">{{ time() | date:'hh:mm a'}}</p>
    <div id="transc-id-container">
        <p>Transaction ID :</p>
        <p style="font-size: 50px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; opacity: 70%;">{{ cashierservice.transactionId() }}</p>
    </div>
    <div id="total">
        <div id="total-label">
            <p>Subtotal</p>
            <p>VAT</p>
            <p>Discount</p>
            <p style="font-size: 20px; margin-top: -5px;">Total Amount</p>
        </div>
        <div id="total-value">
            <p>{{ cashierservice.subtotal() }}</p>
            <p>0</p>
            <p>0</p>
            <p style="font-size: 20px; margin-top: -5px;">{{ cashierservice.subtotal() }}</p>
        </div>
    </div>
</section>

@if (updatingQty()) {
    <div id="qty-backdrop">
        <div id="qty-modal">
            <h3>Quantity</h3>
            <input #newqty type="text" [value]="selectedItem.qty" autofocus onkeypress="return event.charCode >= 48 && event.charCode <= 57">
            <button style="margin-right: 12px; background-color: green;" (click)="changeQty(newqty)">O</button>
            <button style="background-color: red;" (click)="updatingQty.set(false)">✕</button>
        </div>
    </div>
}