<div id="main-container">
    <div id="modal">
        <header>
            <p>Checkout</p>
            <p style="cursor: pointer;" (click)="cashierservice.isCheckOut.set(false)">&#10005;</p>
        </header>

        <section id="payment-method" *ngIf="!paymentMethod()">
            <div class="method" (click)="paymentMethod.set('cash')">
                <img src="assets/cash-method-icon.png" alt="">
                <p>CASH</p>
            </div>
            <div class="method" (click)="paymentMethod.set('cashless')">
                <img src="assets/cashless-method-icon.png" alt="">
                <p>CASHLESS</p>
            </div>
        </section>

        <section id="cash-method" *ngIf="paymentMethod() === 'cash'">
            <div id="to-pay">
                <p style="font-size: 15px;">AMOUNT TO PAY</p>
                <p style="font-size: 50px; font-weight: 700;">₱ {{ cashierservice.totalAmount() | number:'1.2-2' }}</p>
            </div>
            <div id="payment">
                <input type="text" [class.insufficient]="!sufficientAmount()" onkeypress="return event.charCode >= 48 && event.charCode <= 57" #amount>
                <button (click)="continuePaymentBtn(amount)">CONTINUE PAYMENT</button>
            </div>
        </section>
    </div>
</div>