#main-container{
    width: 260px;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    header{
        padding-left: 10%;
        padding-top: 10px;
        height: 80px;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
    }

    section{
        align-items: center;
        justify-items: center;

        p{
            width: 80%;
            height: 50px;
            align-content: center;
            font-size: 19px;
            padding-left: 10px;
            border-radius: 10px;
            cursor: pointer;
            margin-bottom: 2px;
            font-weight: 600;
        }

        .selected{
            background-color: oklch(54.6% .245 262.881);
            color: white;
            transition: 0.1s ease-in;
        }
    }

    #log-out{
        position: absolute;
        width: 210px;
        height: 50px;
        align-content: center;
        left: 20px;
        bottom: 20px;
        justify-self: center;
        font-size: 19px;
        padding-left: 10px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
        border-radius: 10px;
    }
}

#backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    justify-items: center;
    align-content: center;

    #modal{
        padding: 30px;
        background-color: white;
        text-align: center;
        border-radius: 10px;
        
        button{
            width: 150px;
            height: 40px;
            margin-top: 20px;
            margin-left: 8px;
            margin-right: 8px;
            font-size: 15px;
            border-radius: 20px;
            border: none;
            font-weight: 500;
            color: white;
            cursor: pointer;
        }
    }
}