div{
    display: flex;
}

#receipt-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(0, 0, 0, 0.8);

    #receipt{
        display: block;
        max-width: 214mm;
        background-color: white;
        padding: 40px;

        header{
            display: flex;
            align-items: start;
            margin-bottom: 15px;
        }
    }
}

@page {
  margin: 0;
}

@media print {
    * {
        visibility: hidden;
    }

    #receipt,
    #receipt * {
        visibility: visible;
    }

    #receipt {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        display: block;
    }
}